@import "variables/custom";
@import "components/mixins";
@import "vendor/bootstrap/functions";
@import "variables/bootstrap";
// @import "variables/hover";





/* BEGIN Lato-Regular */
@font-face {
  font-family: 'Lato-Regular';
  @include fontdef(#{$path_to_fonts}, "1.1.0", "Lato-Regular");
  font-weight: normal;
  font-style: normal;
}
/* END Lato-Regular */

/* BEGIN Roboto-Regular */
@font-face{ 
  font-family: 'Roboto';
  @include fontdef(#{$path_to_fonts}, "1.1.0", "Roboto-Regular-webfont");
  font-weight: normal;
  font-style: normal;
}
/* END Roboto-Regular */

/* BEGIN Roboto-Medium */
@font-face{ 
  font-family: 'Roboto';
  @include fontdef(#{$path_to_fonts}, "1.1.0", "Roboto-Medium-webfont");
  font-weight: 500;
  font-style: 500;
}
/* END Roboto-Medium */

/* BEGIN Roboto-Bold */
@font-face{ 
  font-family: 'Roboto';
  @include fontdef(#{$path_to_fonts}, "1.1.0", "Roboto-Bold-webfont");
  font-weight: bold;
  font-style: bold;
}
/* END Roboto-Bold */

@import "vendor/bootstrap/bootstrap";
@import "vendor/font-awesome/font-awesome";
// @import "vendor/owl-carousel/owl.carousel";
// @import "vendor/rangeslider";
// @import "vendor/hover/hover";
// @import "components/google-map";

@import "components/nav";
@import "components/buttons";
@import "components/multiselect";
@import "components/editor";
@import "components/bread_crumbs";
@import "components/searcher";
@import "components/sidebar_menu";
@import "components/content_menu";
@import "components/timeline";


@import "pages/home";
@import "pages/email";
@import "pages/email-edit";
@import "pages/customers";
@import "pages/customers-user";
@import "pages/settings-general";
@import "pages/settings-company";
@import "pages/settings-retry-interval";
@import "pages/settings-dispute";
@import "pages/dispute-fraud";
@import "pages/login";
@import "pages/forgot-password";
@import "pages/sign-up";
@import "pages/splash-page";
@import "custom";