.page-body{
	.bread-crumbs{
		.menu{
			font-size: 24px;
			letter-spacing: -0.3px;
			text-align: left;
			color: #8d99ae;

			li{
				display: inline-block;

				&>*{
					color: #8d99ae;
				}
				&:not(:last-of-type),
				&:first-of-type{
					&:after{
						content: "";
						display: inline-block;
						height: 10px;
						width: 5px;
						background-image: url('../images/ic-arr-right.png');
		    			background-repeat: no-repeat;
    			    	background-size: contain;
					}

					&>*{
						font-size: 24px;
						letter-spacing: -0.3px;
						text-align: left;
						color: #2b2e43;
					}
				}
			}
		}
	}
}