.page-body{
	.content{
		.content_menu{
			font-size: 0;

			li{
				// display: block;
				display: inline-block;

				&:not(:last-of-type()){
					margin-right: 15px;
				}
				a{
					// display: inline-block;
					display: inline-block;
					font-size: 16px;
					line-height: 1.38;
					text-align: left;
					color: #616d80;
					padding-top: 10px;
					padding-bottom: 10px;
					text-decoration: none;
				}

				&.active{
					font-weight: bold;
					color: #2b2e43;

					a{
						position: relative;

						&:after{
							content: "";
							display: block;
							position: absolute;
							bottom: 0;
							left: 0;
							width: 100%;
							height: 2px;
							background-color: #46c4fd;
						}
					}


				}

			}
		}	
	}
}

@media (min-width: 576px){
	.page-body{
		.content{
			.content_menu{
				li{
					&:not(:last-of-type()){
						margin-right: 20px;
					}
				}
			}	
		}
	}
}

@media (min-width: 992px){
	.page-body{
		.content{
			.content_menu{
				li{
					&:not(:last-of-type()){
						margin-right: 30px;
					}
				}
			}	
		}
	}
}

@media (min-width: 1280px){
	.page-body{
		.content{
			.content_menu{
				li{
					&:not(:last-of-type()){
						margin-right: 40px;
					}
				}
			}	
		}
	}
}