.page-body{
	.editor{
	    border: 1px solid #8d99ae;
	    border-radius: 0.25rem;

		.tools{
		    padding: 15px 13px 18px;
		    background-color: #fff;
		    border-radius: 0.25rem;
		    font-size: 0;

		    .panel{
		    	display: inline-block;
		    	margin: 0 8px 0 0;
			    padding: 0 10px;
			    list-style: none;
				border-radius: 2px;
				background-color: #ffffff;
				box-shadow: 0 6px 10px 0 rgba(141, 153, 174, 0.2);
				font-size: 0;

			    li{
			    	display: inline-block;
					font-size: 16px;
					color: #616d80;

					&:not(:first-of-type){
						padding-left: 9px;
					}
					&:not(:last-of-type){
						padding-right: 9px;
					}
					.dropdown{
						padding-right: 15px;
					}
			    }
		    }
		}
		textarea{
			border: none;
			padding-top: 0;
		}
	}
}