// Multiselect
.multiselect{
  position: relative;
  border-radius: 3px;
  border: solid 1px #8d99ae;
  // overflow: hidden;

  &:after{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 30px;
    background-color: #fff;
  }
  .display{
    height: 34px;
    padding-left: 6px;
    overflow: hidden;
    
    .span_wrapper{
      width: max-content;
      height: 34px;
      line-height: 34px;

      span{
        display: inline-block;
        line-height: 100%;
        padding-left: 7px;
        padding-right: 7px;
        margin-right: 6px;
        border-radius: 2px;
        font-size: 16px;
        text-align: left;
        color: #2b2e43;
        background-color: #f7faff;
      }
    }
  }
  .caret{
    position: absolute;
    top: 0;
    right: 10px;
    height: 100%;
    z-index: 1;
    cursor: pointer;

    .fa{

    }
  }
  ul{
    position: absolute;
    top: 34px;
    right: -1px;
    width: 320px;
    max-width: 100%;
    height: auto;
    margin-top: 5px;
    padding: 0 10px;
    list-style: none;
    border-radius: 3px;
    border: solid 1px #000;
    background-color: #9e9e9e;
    z-index: 2;

    li{
      font-size: 16px;
      text-align: left;
      line-height: 2;
      color: #2b2e43;

      input{
        margin-right: 7px;
      }
    }
  }
}