.page-header{
  nav{
 	border-bottom: solid 1px #eee;
	padding-left: 60px;
	padding-right: 60px;

 	.navbar-brand{
 		img{
 			margin-right: 12px;
 		}
 	}
 	// .navbar-nav{
 	// 	.dropdown-menu{

		// }
 	// }
 	.navbar-text{
 		.settings{
	    	color: #8d99ae;
	    	text-decoration: none;
	 		i{
	 			margin-right: 2px;
	 		}
 		}
 	}
  }
}

@media (min-width: 992px){
	.page-header{
	  nav{

	 	.navbar-nav{
	 		.dropdown-menu{
				background-color: #f7f9fc;
				box-shadow: 0 10px 10px 0 rgba(141, 153, 174, 0.15);
				border: none;

				&:before{
				    content: "";
				    display: block;
				    position: relative;
				    top: 0;
				    left: 0;
				    height: 8px;
				    width: 100%;
				}
				&:after{
					content: "";
					display: block;
					position: absolute;
					top: -8px;
					left: 25px;
					height: 8px;
					width: 14px;
					background-color: #f7f9fc;
					box-shadow: 0 10px 10px 0 rgba(141, 153, 174, 0.15);
					clip-path: polygon(0 100%, 50% 0, 100% 100%);

				}
				.dropdown-item:not(:last-of-type()){
					position: relative;

					&:after{
						content: "";
						display: block;
						position: absolute;
						bottom: 0;
						left: 50%;
						height: 1px;
						width: 80%;
						margin-left: -40%;
						background-color: rgba(141, 153, 174, 0.1);
					}
				}
			}
	 	}
	  }
	}
}
@media (min-width: 1280px){
	.page-header{
	  nav{
		padding-left: 107px;
		padding-right: 107px;
	  }
	}
}