.page-body{
	.searcher{
		input{
			width: 100%;
			height: 33px;
			font-size: 16px;
			text-align: left;
			color: #8d99ae;
			border: none;
			border-bottom: 2px solid rgba(141, 153, 174, 0.2);

		    background-image: url('../images/ic-search.png');
		    background-position: 10px 7px; 
		    background-repeat: no-repeat;
		    padding: 12px 20px 19px 40px;

			outline:0px;
			-webkit-appearance:none;

			&:focus, &:active{
				border-bottom: 2px solid rgba(141, 153, 174, 0.5);
			}
		}
	}
}