.page-body{
	.sidebar{
		.menu.first{
			li{
				line-height: 62px;
				height: 62px;

				&:not(:last-of-type()){
					border-bottom: 1px solid  rgba(141, 153, 174, 0.1);
				}
				.text{
					display: inline-block;
					line-height: 100%;
					vertical-align: middle;
					font-size: 16px;
					text-align: left;
					color: #8d99ae;
				}
				&.active,&:hover{
					.text{
						color: #825fc2;
					}
				}


				.switch{
					display: inline-block;
					line-height: 100%;
					vertical-align: middle;
					margin-right: 15px;

					input:checked + .slider{
						background-color: #825fc2;
					}
					.slider{
						background-color: #8d99ae;
					}
				}
			}
		}		
	}
}