.customers-users{
	.page-body{
		.bread-crumbs { 
			.container-fluid { 
				padding-left: 60px;
				padding-right: 60px;
			}
		}

		.content_wrapper{
			.container-fluid{
				padding-left: 60px;
				padding-right: 60px;
				.sidebar{
					.update-link{
						font-size: 16px;
						line-height: 1.38;
						text-align: left;
						.title{
							color: #2b2e43;
							font-weight: bold;
						}
						.description{
							color: #8d99ae;
							padding: 2px 0;
						}
						.field-links{
							color: #2b2e43;
							input{
								width: 50%;
								height: 34px;
								padding-left: 13px;
								padding-right: 13px;
								background-color: #ffffff;
								border-radius: 3px;
	  							border: solid 1px #8d99ae;
							}
						}
						a{
							font-size: 14px;
							color: #46c4fd;
						}
						.fa-clone{
							font-size: 14px;
							color: #46c4fd;
						}
					}
				}

				.content{
					.content_menu{
						margin-left: 20px;
						margin-right: 20px;
					}
					.bg{
						position: relative;
						border-radius: 3px;
						background-color: #ffffff;
						box-shadow: 0 10px 10px 0
						rgba(141, 153, 174, 0.15);
					    padding-left: 20px;
					    padding-right: 20px;
					    .user{
							font-size: 20px;
							letter-spacing: -0.3px;
							text-align: left;
							color: #2b2e43;
							
					    	.email{
								font-size: 16px;
								color: #8d99ae;
					    	}
					    }
					    .buttons{
					    	font-size: 0;
							text-align: right;

							.custom_btn{

								&:first-of-type(){
									margin-right: 12px;
								}
								&.white{
									border: solid 1px #825fc2;
									color: #825fc2;
									opacity: 1;
								}

							}
					    }
						.divider {
							width: 738px;
							height: 1px;
							opacity: 0.1;
							background-color: #8d99ae;
						}
					    .rwd-table{
							width: 100%;
							text-align: left;

					    	.table-header{
								font-size: 14px;
								line-height: 1.57;
								color: #8d99ae;

								th{
									padding: 21px 16px;
								}
					    	}
					    	tr{
								font-size: 16px;
								line-height: 1.38;
								color: #2b2e43;

								&:nth-of-type(2){
									td:first-of-type{
										font-weight: bold;
									}
								}
								td{
									padding: 19px 16px;
									line-height: 23px;
									height: 23px;
									img{
										padding-right: 11px;
										display: inline-block;
										vertical-align: middle;
									}
									.text{
										display: inline-block;
										vertical-align: middle;

									}
									span{
										color: #8d99ae;
									}
								}
					    	}
					    }
					}
				}
			}
		}
	}
}

@media (min-width: 992px){
	.customers-users{
		.page-body{
			.content_wrapper{
				.container-fluid{
					.sidebar{
						.update-link{
							position: absolute;
							bottom: 0;
							left: 0;
							.field-links{
								input{
									width: 100%;

								}
							}
						}
					}
				}
			}
		}
	}
}

@media (min-width: 1280px){
	.customers-users{
		.page-body{
			.bread-crumbs { 
				.container-fluid { 
					padding-left: 107px;
					padding-right: 107px;
				}
			}
			.content_wrapper{
				.container-fluid{
					padding-left: 107px;
					padding-right: 107px;

					.content{
						.content_menu{
							margin-left: 28px;
							margin-right: 28px;
						}
						.bg{
						    padding-left: 28px;
						    padding-right: 28px;

						}
					}
				}
			}
		}
	}
}