.email{
	.page-body{
		.bread-crumbs { 
			.container-fluid { 
				padding-left: 60px;
				padding-right: 60px;
			}
		}

		.content_wrapper{
			.container-fluid{
				padding-left: 60px;
				padding-right: 60px;

				.content{
					.content_menu{
						margin-left: 20px;
						margin-right: 20px;
					}
					.bg{
						position: relative;
						border-radius: 3px;
						background-color: #ffffff;
						box-shadow: 0 10px 10px 0
						rgba(141, 153, 174, 0.15);
					    padding-left: 20px;
					    padding-right: 20px;

						.copyright-resolution{
							position: absolute;
							top: -20px;
							right: 20px;

							li{
								display: inline-block;
								border-radius: 2px;
								background-color: #f7faff;
								
								a{
									font-size: 14px;
									font-weight: bold;
									line-height: 1.57;
									color: #616d80;
									padding: 0 7px;
								}
							}
						}
						.fields{

							.field{
								font-size: 16px;
								line-height: 1.38;
								color: #2b2e43;
								line-height: 30px;

								&:after {
								    display: block;
								    clear: both;
								    content: "";
								}
								.field_title{
									height: auto;
									text-align: left;
									font-weight: bold;
								}
								.field_value{
									text-align: left;
								}
							}
						}
						.divider{
							width: 100%;
							height: 1px;
							opacity: 0.1;
							background-color: #8d99ae;
						}
						.letter{
							width: 100%;
							height: auto;
							font-size: 16px;
							line-height: 1.38;
							text-align: left;
							color: #2b2e43;
							span{
								font-weight: bold;
							}
							a{
								color: #46c4fd;
							}
						}
					}
					.buttons{
						text-align: right;
						font-size: 0;

						.custom_btn:first-of-type(){
							margin-right: 12px;
						}
					}
				}
			}
		}
	}
}

@media (min-width: 576px){
	.email{
		.page-body{
			.content_wrapper{
				.container-fluid{
					.content{
						.bg{
							.fields{
								.field{
									.field_title{
										float: left;
										width: 20%;
										text-align: right;
									}
									.field_value{
										float: left;
										margin-left: 3%;
										width: 77%;
									}
								}
							}
						}
					}
				}
			}
		}
	}
}

@media (min-width: 768px){
	.email{
		.page-body{
			.content_wrapper{
				.container-fluid{
					.content{
						.bg{
							.copyright-resolution{
								top: 0;
							}
							.fields{
								.field{
									.field_title{
										width: 14%;
									}
									.field_value{
										margin-left: 2%;
										width: 64%;
									}
								}
							}
						}
					}
				}
			}
		}
	}
}

@media (min-width: 1280px){
	.email{
		.page-body{
			.bread-crumbs { 
				.container-fluid { 
					padding-left: 107px;
					padding-right: 107px;
				}
			}
			.content_wrapper{
				.container-fluid{
					padding-left: 107px;
					padding-right: 107px;

					.content{
						.content_menu{
							margin-left: 28px;
							margin-right: 28px;
						}
						.bg{
						    padding-left: 28px;
						    padding-right: 28px;

							.copyright-resolution{
								right: 28px;
							}
						}
					}
				}
			}
		}
	}
}