.settings-retry-interval{
	.page-body{
		.bread-crumbs { 
			.container-fluid { 
				padding-left: 60px;
				padding-right: 60px;
			}
		}

		.content_wrapper{
			.container-fluid{
				padding-left: 60px;
				padding-right: 60px;
				
				.sidebar{
					.custom_btn{
						&.white{
							border: solid 1px #825fc2;
							color: #825fc2;
							opacity: 1;
						}
					}
				}

				.content{
					.content_menu{
						margin-left: 20px;
						margin-right: 20px;
					}
					.bg{
						position: relative;
						border-radius: 3px;
						background-color: #ffffff;
						box-shadow: 0 10px 10px 0
						rgba(141, 153, 174, 0.15);
					    padding-left: 20px;
					    padding-right: 20px;


						.retry-interval{
							padding-left: 6px;
							padding-right: 6px;

							.title{ 
								font-size: 20px;
								letter-spacing: -0.3px;
								color: #2b2e43;
							}
							.form-group{ 
								label{ 
									font-size: 16px;
									font-weight: bold;
									line-height: 1.38;
									text-align: left;
									color: #616d80;
									margin-bottom: 12px;
								}
								.form-control{}
								.custom-select{
									display: block;
									width: 100%;
								}
							}
							.checkbox{
								.title{ 
									font-size: 16px;
									font-weight: bold;
									line-height: 1.38;
									text-align: left;
									color: #616d80;
									margin-bottom: 12px;
								}
								.form-check{
									font-size: 16px;
									line-height: 1.38;
									text-align: left;
									color: #8d99ae;
									
									label{
										cursor: pointer;

										.custom-control-indicator{
											border: solid 0.9px #8d99ae;
										}
									}
								}
							}

							.buttons{
								text-align: right;
							}
						}

					}
				}
			}
		}
	}
}

@media (min-width: 992px){
	.settings-retry-interval{
		.page-body{
			.content_wrapper{
				.container-fluid{
					.sidebar{

					}
				}
			}
		}
	}
}

@media (min-width: 1280px){
	.settings-retry-interval{
		.page-body{
			.bread-crumbs { 
				.container-fluid { 
					padding-left: 107px;
					padding-right: 107px;
				}
			}
			.content_wrapper{
				.container-fluid{
					padding-left: 107px;
					padding-right: 107px;

					.content{
						.content_menu{
							margin-left: 28px;
							margin-right: 28px;
						}
						.bg{
						    padding-left: 28px;
						    padding-right: 28px;

						}
					}
				}
			}
		}
	}
}