.settings-dispute{
	.page-body{
		.bread-crumbs { 
			.container-fluid { 
				padding-left: 60px;
				padding-right: 60px;
			}
		}

		.content_wrapper{
			.container-fluid{
				padding-left: 15px;
				padding-right: 15px;
				max-width: 1110px;
				margin-left: auto;
				margin-right: auto;

				.row{
					[class*="col"]:first-of-type{
						font-size: 16px;
						font-weight: bold;
						line-height: 1.38;
						text-align: left;
						color: #616d80;
					}
					[class*="col"]:last-of-type{
						width: 80%;
					}
				}
				
				textarea{
					height: 220px;
					width: 100%;
					border-radius: 3px;
					background-color: #ffffff;
					border: solid 1px #8d99ae;
					padding: 7px 20px;
				}
			}
		}
	}
}

@media (min-width: 992px){
	.settings-dispute{
		.page-body{
			.bread-crumbs { 
				.container-fluid { 
					padding-left: 60px;
					padding-right: 60px;
				}
			}

			.content_wrapper{
				.container-fluid{

					.row{
						[class*="col"]:first-of-type{
							text-align: right;
						}
						[class*="col"]:last-of-type{

						}
					}

					.content_footer{
						[class*="col"]:first-of-type{
							padding-right: 0;
						}
					}
				}
			}
		}
	}
}

@media (min-width: 1280px){
	.settings-dispute{
		.page-body{
			.bread-crumbs { 
				.container-fluid { 
					padding-left: 107px;
					padding-right: 107px;
				}
			}

		}
	}
}