.settings-company{
	.page-body{
		.bread-crumbs { 
			.container-fluid { 
				padding-left: 60px;
				padding-right: 60px;
			}
		}

		.content_wrapper{
			.container-fluid{
				padding-left: 60px;
				padding-right: 60px;
				.sidebar{
					.custom_btn{
						&.white{
							border: solid 1px #825fc2;
							color: #825fc2;
							opacity: 1;
						}
					}
				}

				.content{
					.content_menu{
						margin-left: 20px;
						margin-right: 20px;
					}
					.bg{
						position: relative;
						border-radius: 3px;
						background-color: #ffffff;
						box-shadow: 0 10px 10px 0
						rgba(141, 153, 174, 0.15);
					    padding-left: 20px;
					    padding-right: 20px;

						.company{ 
							padding-left: 6px;
							padding-right: 6px;
							
							.row{ 

								.form-group{

									label{ 
										font-size: 16px;
										font-weight: bold;
										line-height: 1.38;
										text-align: left;
										color: #616d80;
										margin-bottom: 12px;
									}
									.file-upload{
										position: relative;
										
										.name{
											padding-right: 110px;
										}
										.button_wrapper{
											position: absolute;
											top: 0;
											right: 13px;
											height: 100%;

											.button{
												position: relative;
												display: table;
												height: 100%;

												.title{
													display: table-cell;
													vertical-align: middle;
													font-size: 16px;
													font-weight: bold;
													line-height: 1.38;
													color: #46c4fd;
													cursor: pointer;

													&:hover{
														color: darken(#46c4fd, 10%);
													}
												}
											}
										}
									}
									.drag-n-drop{
										position: relative;
										border: 2px dashed rgba(141, 153, 174, 0.3);
										border-radius: 6px;

										.logo{
											position: absolute;
											top: 50%;
											left: 50%;
											transform: translateX(-50%) translateY(-50%);
										}
										input[type="file"]{
											position: absolute;
											top: 0;
											left: 0;
											height: 100%;
											width: 100%;
											opacity: 0;
											cursor: pointer;
										}
									}
									.form-control{ 

									}
								}
								.buttons{
									text-align: right;
								}
							}
						}
					}
				}
			}
		}
	}
}

@media (min-width: 992px){
	.settings-company{
		.page-body{
			.content_wrapper{
				.container-fluid{
					.sidebar{

					}
				}
			}
		}
	}
}

@media (min-width: 1280px){
	.settings-company{
		.page-body{
			.bread-crumbs { 
				.container-fluid { 
					padding-left: 107px;
					padding-right: 107px;
				}
			}
			.content_wrapper{
				.container-fluid{
					padding-left: 107px;
					padding-right: 107px;

					.content{
						.content_menu{
							margin-left: 28px;
							margin-right: 28px;
						}
						.bg{
						    padding-left: 28px;
						    padding-right: 28px;

						}
					}
				}
			}
		}
	}
}