.sign-up{
	.page-body{
		.sign-up-section{

			&>.container-fluid{

				&>.row{
					&>[class*='col-']:first-of-type{
						background-color: #b000d2;

						&>.row{
							min-height: 80px;
						}
					}

					&>[class*='col-']:last-of-type{
						max-height: 100%;
						overflow: auto;

						form{
							font-family: Roboto;
							max-width: 440px;
							margin-left: auto;
							margin-right: auto;

							.form-group{
								margin-bottom: 15px;
							}

							.title {
							  font-size: 20px;
							  text-align: center;
							  color: #001f4c;
							}
							.subtitle{
								font-size: 16px;
							  	opacity: 0.5;
								line-height: 1.3;
								text-align: center;
								color: #001f4c;
								max-width: 300px;
								margin-right: auto;
								margin-left: auto;
							}
							.sign-up-link{
							  font-size: 14px;
							  text-align: left;
							  color: #0070d2;
							}
							.forgot-password-link{
							  opacity: 0.4;
							  font-size: 14px;
							  text-align: left;
							  color: #001f4c;
							}
							label{
							  
							  font-size: 14px;
							  text-align: left;
							  color: #668ba5;
							}

							.input_container{
								&.text,
								&.password,
								&.email{
									&.valid{
										position: relative;

										input[type="text"],
										input[type="password"],
										input[type="email"]{
											padding-right: 40px;
											border: solid 1px #0070d2;
										}
										&:after{
											position: absolute;
											top: 50%;
											transform: translateY(-50%) translateX(50%);
											right: 20px;
											font-family: FontAwesome;
											content: "\f00c";
											font-size: 12px;
											color: #0070d2;
										}
									}
								}
							}

							.input_container.invalid{
								position: relative;

								input[type="text"],
								input[type="password"],
								input[type="email"]{
									border: solid 1px #ff5353;
								}
								.validation_msg{
									position: absolute;
									max-width: 270px;
									min-width: 150px;
									top: -14px;
									left: 50%;
									width: 70%;
									transform: translateY(-100%) translateX(-50%);
									padding: 10px 12px 12px;
									background-color: #ff5353;
									border-radius: 4px;
									font-size: 13px;
									text-align: left;
									color: #ffffff;
									z-index: 3;

									&:after{
										content: "";
										position: absolute;
										bottom: -4px;
										left: 50%;
										height: 4px;
										width: 10px;
										border-color: #ff5353 transparent transparent transparent;
										border-style: solid;
										border-width: 4px 5px 0 5px;
										z-index: 3;
									}
								}
							}



							#tab-1{
								.description{
									font-size: 14px;
									line-height: 1.3;
									text-align: left;
									color: #001f4c;
								}
							}

							#tab-2{
								.subtitle{
									max-width: 300px;
								}
							}

							#tab-3{
								.bg{
									border-radius: 4px;
									background-color: #ffffff;
									box-shadow: 0 5px 10px 0 rgba(178, 197, 210, 0.2), 
										0 0 2px 0 rgba(102, 139, 165, 0.2);

									.plan{
										padding: 12px 24px 15px;
										margin: 0;

										&:hover{
											background-color: #fff4f1;
										}

										.plan_title{
											font-size: 16px;
											font-weight: bold;
											text-align: left;
											color: #0070d2;
										}
										.plan_name{
											font-size: 16px;
											text-align: left;
											color: #001f4c;

											.row{
												.col{
													font-size: 0;

													span{
														background-color: #ff7b53;
														font-size: 10px;
														font-weight: bold;
														text-align: left;
														color: #ffffff;
														padding: 3px 7px;
														margin-left: 5px;
													}
												}
											}
										}
										.plan_options{
											font-size: 14px;
											text-align: left;
											color: #668ba5;
										}
										.plan_price{
											font-size: 16px;
											font-weight: bold;
											text-align: left;
											color: #0070d2;
										}

										&>[class*='col-']{
											padding: 0;
										}
									}

									.divider{
										position: relative;
										margin: 0 24px;

										&:after{
											content: "";
											position: absolute;
											top: 0;
											left: 0;
											width: 100%;
											height: 1px;
											opacity: 0.3;
											background-color: #b2c5d2;
										}
									}
									.plans-footer-title{
										font-size: 16px;
										text-align: left;
										color: #0070d2;
										padding: 0 24px;
									}
									.plans-footer{
										padding: 12px 24px 25px;
										margin: 0;
										position: relative;

										.custom-control-description{
											font-size: 16px;
											text-align: left;
											color: #001f4c;
											margin-right: 30px;
										}

										.custom_btn{
											width: 100%;
										}
									}
									label{
										margin: 0;
										cursor: pointer;

										.custom-control-indicator{
											border: solid 0.8px #b2c5d2;
										}
									}
								}

							}

							#tab-4{
								.bg{
									border-radius: 4px;
									background-color: #ffffff;
									box-shadow: 0 5px 10px 0 rgba(178, 197, 210, 0.2), 
										0 0 2px 0 rgba(102, 139, 165, 0.2);
									padding: 25px 24px;
									font-family: roboto;

									

									[class*="col"].left-padding-10{
										padding-left: 10px;
									}

									[class*="col"].left-padding-5{
										padding-left: 5px;
									}

									[class*="col"].right-padding-10{
										padding-right: 10px;
									}

									[class*="col"].right-padding-5{
										padding-right: 5px;
									}

									.title{
										font-size: 16px;
										text-align: left;
										color: #001f4c;
									}

									.subtitle{
										font-size: 14px;
										text-align: left;
										color: #668ba5;
									}

									.title-change{
										font-size: 14px;
										text-align: left;
										color: #b2c5d2;
										text-decoration: underline;
									}

									.title-price{
										font-size: 20px;
										font-weight: 500;
										text-align: right;
										color: #0070d2;
									}

									.form-title{
										font-size: 16px;
										text-align: left;
										color: #0070d2;
									}

									label{
										font-size: 14px;
										text-align: left;
										color: #668ba5;
									}

									.divider{
										width: 100%;
										height: 1px;
										opacity: 0.3;
										background-color: #b2c5d2;
									}

									.custom_btn{
										width: 100%;
									}
								}

							}


							#tab-5{
								.subtitle{
									max-width: 355px;
								}
								label{
									font-weight: bold;
								}
								input[type="text"]{
									background-color: #f8fcff;
									border: solid 1px #0070d2;
								}
								.link_text{
									font-size: 14px;
									text-align: left;
									color: #668ba5;

									a{
										color: #668ba5;
										text-decoration: underline;

									}
								}
								.btn_wrapper{
									padding-left: 40px;
									padding-right: 40px;

									.custom_btn{
										width: 100%;
									}
								}
							}

						}

					}

				}

			}
		}
	}
}



@media (min-width: 992px){
	.sign-up{
		.page-body{
			height: 100%;

			.sign-up-section{
				height: 100%;

				&>.container-fluid{
					height: 100%;

					&>.row{
						height: 100%;

						&>[class*='col-']:first-of-type{
							height: 100%;
							&>.row{
								height: 100%;

							}
						}
					}

				}
			}
		}
	}
}