.splash-page{
	.page-body{
		.content_wrapper{
			font-family: Roboto;

			.title{
				font-size: 32px;
				font-weight: 500;
				font-style: normal;
				font-stretch: normal;
				line-height: normal;
				letter-spacing: normal;
				text-align: center;
				color: #001F4C;
			}
			.text{
				max-width: 1000px;
				margin-left: auto;
				margin-right: auto;
				font-size: 20px;
				font-weight: normal;
				font-style: normal;
				font-stretch: normal;
				line-height: normal;
				letter-spacing: normal;
				text-align: center;
				color: #001F4C;
			}
			.wistia_wrapper{
				max-width: 900px;
				margin-left: auto;
				margin-right: auto;
			}
			.title.second{
				font-size: 28px;
				font-weight: bold;
				font-style: italic;
				font-stretch: normal;
				line-height: normal;
				letter-spacing: normal;
				text-align: center;
				color: #001F4C;
			}
		}
	}
}